.my_class{
    color: tomato;
    background: rgb(134, 6, 128);
    font-style: italic;
    font-size: 30px;
    padding: 30px;
}
.my_class1{
    color: rgb(165, 159, 158);
    background: rgb(134, 68, 6);
    font-style: italic;
    font-size: 30px;
}